
        *{
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }
        header>div>img{
            width: 170px;
            height: 33px;
        }
        header, header a{
            color: white;
        }
        header>div{
            display: flex;
            justify-content: space-between;
        }
        header{
            text-align: center;
            padding-bottom: 536px;
            outline: 10px solid black;
            background: url(./assets/image-header.jpg) no-repeat top left;
            background: no-repeat top left/100% 100% url( "./assets/image-header.jpg");
        }

        ul{
            display: flex;
            padding: 0;
        }

        li{
            margin-right: 47px;
            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
        }
        .link a{
            padding: 15px 32px;
            background: white;
            color: #24303E;
            border-radius: 28px;
            font-family: 'Fraunces', serif;font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
        }
        header h1{            
            font-style: normal;
            font-weight: 900;
            font-size: 56px;
            line-height: 69px;
            /* identical to box height */
            text-align: center;
            letter-spacing: 8.75px;
            text-transform: uppercase;
            margin-top: 195px;
        }

        section{
            display: flex;
            width: 100%;
            height: 600px;
        }
        section div{
            width: 50%;
        }
        section img{
            width: 100%;
            height: 600px;
        }
        section h1, section span{
            font-family: 'Fraunces', serif;font-style: normal;
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            letter-spacing: -0.285714px;
            color: #24303E;
        }

        section p{
            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */
            letter-spacing: -0.128571px;
            color: #808397;
        }

        section span{
            font-style: normal;
            font-weight: 900;
            font-size: 15px;
            line-height: 25px;
            /* identical to box height, or 167% */
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #24303E;
        }

        .divTexto{
            padding:  158px 13%;
        }

        .section3 div{
            padding: 18% 14% 10% 16%;
        }
        .divEsquerda{
            background: no-repeat top left/100% 100% url(./assets/image-graphic-design.jpg);

        }

        .divDireita{
            background: no-repeat top left/100% 100% url(./assets/image-photography.jpg);
        }

        .sectionFinal img{
            width: 72px;
            height: 72px;
            border-radius: 50%;
        }

        .sectionFinal{
            padding: 160px 165px;
            flex-direction: column;
            align-items: center;
            height: max-content;
        }

        .sectionFinal ul{
            margin-top: 81px;
            text-align: center;
        }
        .sectionFinal li{            
            padding: 0 35px;
        }

        footer, footer div{
            display: flex;
        }
        footer{
            flex-direction: column;
            background-color:  #90D4C6
            ;
        }
        footer img{
            width: 15%;
            flex-grow: 1;
        }

        #logo{
            background-color:  #2C7566;
            width: 170px;
            height: 33px;
            margin-bottom: 10px;
        }

        .div2{
            display: flex;
            padding: 76px;
            justify-content: center;
        }

        .div2>div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .div2 a{
            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            /* identical to box height, or 139% */
            letter-spacing: -0.128571px;
            color: #458D7E;
        }

        #divImgs{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #divImgs img{
            margin: 10px;
        }
