/*
Autor: Lucas Fernandes 
https://github.com/lucasfpds

*/

* {
}

body{
    margin: 0;
    background: grey;
}

header{
    padding: 15px;
    background: lightgray;
}

section{
    color: white;
    padding: 30px;
}

p{
    margin-bottom: 150px;
}

