
body{
    background: #FF7982;
    padding: 72px 80px;
}

.divPrincipal{
    max-width: 1440px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

 h1{
     font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
}
p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

header{
    background: url(./assets/background.png);
    padding: 58px 386px 55px 409px;
    color: #FFFFFF;
}

header h1{
    margin-bottom: 10px;
}

header div{
    padding: 57px 58px;
    background: rgb(9, 24, 63,0.5);    
    box-shadow: 0px 14px 25px -10px rgba(9, 24, 63, 0.17);
    border-radius: 10px;
}
header p {
    text-align: start;
    margin-bottom: 25px;
}
header a, a{
    background: #FF8E4F;
    border-radius: 50px;
    padding: 9px 30px;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

main{
    background: white;
    padding-top: 73px;
    padding-bottom: 33px;
}

main>div{
    margin: 0 auto 61px;
    max-width: 501px;
}


main h1{
    margin: 51px 119px 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 46px;
}

main p{
    margin: 0 60px 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

main a {
    background: #FFFFFF;
    border: 1px solid #09183F;
    box-sizing: border-box;
    border-radius: 50px;
    text-transform: uppercase;
    color: #09183F;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding: 9px 30px;
}

img{
    margin-top: 40px;
}