body{
    background: #456392;
    font-family: 'Mulish', sans-serif;
    color: #131E30;
}

.divPrincipal{
    box-sizing: border-box;
    margin: 259px auto;
    text-align: center;
    max-width: 608px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 64px 162px 90px;
}

img{
    border-radius: 50%;
    background: #ECF3FC;
    padding: 16px;
    margin-bottom: 44px;
}

h1, p, span{    
font-style: normal;
}

h1{
font-weight: bold;
font-size: 48px;
line-height: 60px;
margin-bottom: 5px;
}

p, span{
font-weight: normal;
font-size: 36px;
line-height: 45px;
text-align: center;
margin-bottom: 92px;
}

span{
color: #000000;
}