.section1, .section3{
    display: flex;
    margin-bottom: 80px;
}

.section1 img, .section3 img{
    width: 540px;
    height: 500px;
}

.section1 div, .section3 div{
    padding: 103px 0 103px 125px;
}

.section1 h2, .section3 h2{
    margin-bottom: 25px;
}

.section1 p, .section3 p{
    margin-bottom: 54px;
}

.section1 button, .section3 button{
    background-color: white;
    height: max-content;
    padding: 17px 38px;
}

.section2, .section4{
    display: flex;
    margin-bottom: 80px;
}

.section2 img, .section4 img{
    width: 540px;
    height: 500px;
}

.section2 div, .section4 div{
    padding: 103px 125px 103px ;
}

.section2 h2, .section4 h2{
    margin-bottom: 25px;
}

.section2 p, .section4 p{
    margin-bottom: 54px;
}

.section2 button, .section4 button{
    background-color: white;
    height: max-content;
    padding: 17px 38px;
}
