*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

body{
background: #FF6A95;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.divSuperior{
background: white;
width: 583px;
height: 314px;
left: 508px;
top: 261px;
box-shadow: 0px 16px 45px -15px rgba(2, 5, 132, 0.25);
border-radius: 10px;
padding: 30px;
}

.divSuperior>div{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.divInterna>img{
    
width: 84px;
height: 84px;
border-radius: 50%;
margin-right: 37px;
}

.divSuperior h1, .divInferior h1{
    font-family: 'Merriweather', serif;
font-weight: 900;
font-size: 22px;
line-height: 28px;
}

.divSuperior p, .divInferior p{
    color: #202142;
    font-weight: normal;
}

.divSuperior a, .divInferior a{
    height: 54px;
    display: flex;
    padding: 15px 30px;
    background: #202142;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: auto;
}

a img{
    margin-right: 10px;
}

.divImgs{
    display: flex;
    justify-content: center;
}
.divImgs img{
    border-radius: 10px;
    width: 164px;
    height: 123px;
    margin-right: 15px;
}

.divInferior{
    margin-top: 50px;
    display: flex;    
background: #FFFFFF;
box-shadow: 0px 16px 45px -15px rgba(2, 5, 132, 0.25);
border-radius: 10px;
padding: 30px;
}

.divInferior>img{
    width: 73.92px;
    height: 73.92px;
    border-radius: 50%;
    margin-right: 20px;
}

.divInferior a{
    color: #202142;
    background: white;
    border: 2px solid #202142;
}
.divInferior a>img{
    background: #202142;
}

.imgs{    
    margin-left: 143px;
    display: flex;
}
.imgs img{
    margin-right: 20px;
}

a{
    text-decoration: none;
}