.open-filters-button{
    width: 80px;
    height: 30px;
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    margin-bottom: 25px;
    transition: 1s;
}
.open-filters-button:hover{
    background: #ececec;
    transform: scale(1.01);
}

.container-filters{
    display: flex;
    width: 100%;
    height: 30vh;
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 0 40px 24px;
}


.container-filters>div{
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 30%;
}

.container-filters>div>div{
    gap: 9px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70%;
    border-right: 1px solid #EAEAEA;

}


.container-filters>div>p{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;    
    color: #B9B9B9;
    margin-bottom: 20px;
}
.container-filters button{
    background: #FAFAFA;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
    width: 45%;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    transition: 1s;
}

.container-filters button:hover{
background: #ececec;
}

.container-filters .btnFilterClicked{
    background: #7B61FF;
    color: white;
    transition: 1s;

}.container-filters .btnFilterClicked:hover{
    background: #533fb8;
    transform: scale(1.01);
}


.container-filters button p{
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
.container-filters>div>div{
    padding-right: 40px;
    margin-right: 40px;
}

.div-valor{
    width: 10% !important;
}

.div-valor label{
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
}
.div-valor input{
    width: 12vh;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #7B61FF;
    box-sizing: border-box;
    border-radius: 2px;
}
.btn-clear-apply{
    flex-direction: row !important;
    align-items: flex-end;
    gap: 16px;
}

.container-filters .btn-apply-filters, .container-filters .btn-clear-filters{
    background: linear-gradient(264.83deg, #3A9FF1 -3.28%, #05EDE3 100%);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 8px 4.6%;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;    
}
.container-filters .btn-clear-filters{
    background: white;
    color: black;
    transition: 1s;
}
.container-filters .btn-apply-filters:hover{
    background: linear-gradient(264.83deg, #3188cf -3.28%, #04b8af 100%);
    transform: scale(1.01);
}
.anime{
    height: 0px !important;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition-duration: 1s;
    transition-delay: 0.1s;
}
.animation{
    height: 38vh !important;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}