*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}
li{
  list-style: none;
}
.App{
  height: max-content;
  width: 100%;
}

header{
  height: 224px;
  background: linear-gradient(90.23deg, #05EDE3 0.02%, #645FFB 99.63%);
}
header img{
  margin: 2.7% 6.3%;
}
.filters{
  width: 100%;
}
main{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 14%;
  background-color: white;
  border-radius: 60px 60px 0px 0px;
  width: 100%;
  padding: 3.5% 6.3%;
}
main>div{
  width: 73%;
}
.table{
  margin-top: 53px;
  width: 100%;
}
aside{  
  width: 22.5%;
}