.section1{
    height: 600px;
    background-image: url(../../assets/home/image-homepage-hero.jpg);
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    margin-bottom: 149px;
}

.section1 div{
    align-self: flex-end;
    background: white;
    width: 445px;
    height: 357px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.section1 h1{
    margin: 56px 27px 0 27px;
}

.section1 button{
    all: unset;
    display: flex;
    flex-direction: row;
    width: 200px;
    background: #203A4C;
    align-items: center;
}

.section1 button>img{
    background: #1a2f3d;
    padding: 18px 16px;
}

.section1 button:hover{
    background: #5FB4A2;
}

.section1 button img:hover{
    background: #3d7468;
}

.section1 button>a{ 
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}

.section2{
    display: flex;
    margin-bottom: 150px;
}
.section2 div{
    margin-left: 140px;
    padding: 51px 0 0 0;
}
.section2 h2{
    margin-bottom: 28px;
}
.section2 img{
    width: 50%;
}
.section2 p{
    margin-bottom: 24px;
}
.section2 a{
    font-weight: normal;
    color: #33323D;
    padding: 17px 28px;
}
.section2 button{
    background-color: white;
    padding: 17px 28px;
}
