aside .container-resume {
  color: black;
  height: 196px;
  background: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 26px 33px;
}

.container-resume h2 {
    margin-bottom: 23px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.container-resume p {
    margin-bottom: 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  justify-content: space-between;
}
.container-resume .saldo{
    margin-top: 35px;
    border-top: 1px solid #EAEAEA;
    padding-top: 16px;
}
.in{
    color: #645FFB;
}
.out{
    color: #FA8C10;
}
.balance{
    color: #3A9FF1;
}

.btn-add{
    margin-top: 16px;
    width: 100%;
    height: 42px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient(91.26deg, #FA8C10 0%, #FF57D3 97.77%);
    border-radius: 5px;
    border: none;
    color: white;
}
.btn-add:hover{    
    background: linear-gradient(91.26deg, #d37811 0%, #d348ae 97.77%);
    transform: scale(1.01);
}