
body{
    background: #E5E5E5;
    text-align: center;
    padding: 100px 0;
}

.divPrincipal{
    background: white;
    margin: 0 auto 176px auto;
    border-radius: 20px;
    max-width: 432px;
    padding: 30px 52px 70px 52px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
}
.btnFechar{
    width: 30px;
    margin-left: auto;
}
img{
    margin-bottom: 29px;
}
p{
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background: #ED6755;
    padding: 14px 63px;
    margin-bottom: 70px;
}

.div2 > a{
    background: #1C1B5D;
}